<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Фильтры</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" data-th-href="@{/}">Food4U</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-th-href="@{/}">Домой</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-th-href="@{/average}">Пицца по городу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-th-href="@{/average}">Суши по городу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-th-href="@{/filters}">Фильтры</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <form data-th-action="@{/filters}" method="post">
        <div class="form-group">
            <label for="pairName">Введи пару для поиска арбитража</label>
            <input type="text" id="pairName" name="pairName" placeholder="PAIR_1/PAIR_2">
        </div>
        <div class="form-group">
            <label for="transferFeeExmo">Введи комиссию за перевод Exmo</label>
            <input type="text" id="transferFeeExmo" name="transferFeeExmo" placeholder="fee1">
        </div>
        <div class="form-group">
            <label for="transferFeeLiveCoin">Введи комиссию за перевод LiveCoin</label>
            <input type="text" id="transferFeeLiveCoin" name="transferFeeLiveCoin" placeholder="fee2">
        </div>
        <button>Расчёт</button>
    </form>
</div>

<div class="container">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th scope="row">id</th>
            <th scope="row">Город</th>
            <th scope="row">Ресторан</th>
            <th scope="row">Пицца</th>
            <th scope="row">Рейтинг пиццы</th>
            <th scope="row">Цена</th>
            <th scope="row">Вес</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="a:${filterByCityAndName}">
            <td>[[ ${a.getId()} ]]</td>
            <td>[[ ${a.getCity()} ]]</td>
            <td>[[ ${a.getRestaurantName()} ]]</td>
            <td>[[ ${a.getPizzaName()} ]]</td>
            <td>[[ ${a.getRating()} ]]</td>
            <td>[[ ${a.getPrice()} ]]</td>
            <td>[[ ${a.getWeight()} ]]</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>